<ion-header>
  <ion-toolbar>
    <ion-title ion-button (click)="edit('name')">
      {{getCharacter().name}}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="save()">
        <ion-icon class="icon-blue" slot="icon-only" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>HP</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Max HP: {{getCharacter().defense.max_hp}}</p>
      <p>Current HP: {{getCharacter().defense.curr_hp}}</p>
      <p>Temporary HP: {{getCharacter().defense.tmp_hp}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-content>
      <p>Armor class: {{getCharacter().defense.armor_class}}</p>
      <p>Initiative: {{getCharacter().defense.initiative}}</p>
      <p>Speed: {{getCharacter().defense.speed}} ft</p>
    </ion-card-content>
  </ion-card>
    
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Weapons</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngFor="let item of getCharacter().attack">
      <p>{{item.name}} - bonus: {{item.bonus}} damage: {{item.damage}}</p>
    </ion-card-content>
  </ion-card>
  
  <ion-fab class="fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab-blue">
      <ion-icon name="cube"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button class="fab-white" (click)="roll(20)">20</ion-fab-button>
      <ion-fab-button class="fab-white" (click)="roll(16)">16</ion-fab-button>
      <ion-fab-button class="fab-white" (click)="roll(10)">10</ion-fab-button>
      <ion-fab-button class="fab-white" (click)="roll(8)">8</ion-fab-button>
      <ion-fab-button class="fab-white" (click)="roll(6)">6</ion-fab-button>
      <ion-fab-button class="fab-white" (click)="roll(4)">4</ion-fab-button>
      <ion-fab-button class="fab-white" (click)="roll(100)">%</ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div class="bottom-spacer"></div>
</ion-content>
