.modal-title {
    text-align: center;
    width: 100%;
}

.btn-row {
    padding: 4px;
}

.input {
    text-align: center;
    width: calc(100% - 20% - 20% - 10% - 10% - 4px - 4px);
}

.val-btn {
    width: 10%;
    margin: 4px;
}

.r {
    margin-right: 20%;
}

.l {
    margin-left: 20%;
}

.modal-btn {
    width: calc(50% - 8px);
    margin: 4px;
}