/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-modal {
    --background: unset !important;
  }

  .modal-bgr {
    --background: transparent !important; 
    backdrop-filter: blur(2px);

      ion-content {
        --background: transparent !important;
      }
  }

  .modal-page {
    border-radius: 5px;
    position: absolute;
    left: 10vw;
    width: 80vw;
    height: calc(100vh - 20vw);
    top: 10vw;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.12);
  }

  ion-tab-bar {
    // Translucent positioning effect
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    --background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 100%);
    backdrop-filter: blur(2px);
}

ion-toolbar {
  --background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 100%);
  --ion-color-base: transparent !important;
  backdrop-filter: blur(2px);
  }

.bottom-spacer {
  height: 56px;
}

.fab {
  margin-bottom: 56px;  
}

.fab-blue {
  --background: rgba(56, 128, 255, 0.7);
}

.fab-white {
  --background: rgba(255, 255, 255, 0.5);
}

ion-fab-button {  
  backdrop-filter: blur(2px);
  border-radius: 50%;
}

ion-button {
  --background: rgba(56, 128, 255, 0.7);
}

.icon-blue {
  color: rgba(56, 128, 255, 0.7);
}

ion-tab-button.tab-selected {
  ion-icon, ion-label {
    color: rgba(56, 128, 255, 0.7) !important;
    --ion-color-base: rgba(56, 128, 255, 0.7) !important;
  }
}

.welcome-card img {
  overflow: hidden;
}

.img-card {
  height: calc(100vw - 20px);
  padding: 0px;
}

.img-container ion-fab-button {
  overflow: hidden;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.img-container {
  width: 100%;
  height: 100%;
  padding: 0px;
  background-size: cover;  
  background-repeat: no-repeat;
}